In [36]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split, cross_validate
import seaborn as sns

In [37]:
data = pd.read_excel("Water_data_500_for_test.xlsx")
data

,Sample ID,Mineral1,Mineral2,Mineral3,Mineral4,Mineral5,Mineral6,Mineral7,Mineral8,Mineral9,...,Mineral44,Mineral45,Mineral46,Mineral47,Mineral48,Mineral49,Mineral50,Mineral51,Drinking,WellType
0,Water1,5624.163717,43868.510692,107222.239975,224.965026,48707.160287,349267.821706,89439.918740,6123.412185,468667.283898,...,0.405858,0.523955,0.295252,0,0.163175,14.607660,0.080240,1.499863,Yes,sample
1,Water2,5067.421222,33208.847707,92332.266645,1130.706654,32340.611576,344475.017337,82470.402041,11350.004336,700553.022331,...,0.102151,0.257880,1.196842,<0.018,0.180884,24.105059,0.081947,0.452609,Yes,drilling
2,Water3,3121.314750,39973.257006,99906.071887,585.931109,28609.321453,344273.685298,110771.691819,12103.932722,480960.690391,...,0.204304,0.560804,0.223012,<0.018,0.490825,5.743116,0.080240,0.300981,Yes,sample
3,Water4,5395.057192,25799.776590,72707.273368,163.260565,23517.453564,192854.069301,91502.971590,11446.527383,814843.124346,...,0.022087,0.028653,0.078523,<0.018,0.350402,6.798110,0.058046,0.254160,Yes,drilling
4,Water5,3390.080940,20293.283692,68493.667603,499.880015,19562.110996,248382.388646,67437.087491,7293.780661,309579.778242,...,0.060739,0.061400,0.175895,<0.018,0.035417,13.966803,0.015365,0.028981,No,sample

In [38]:
data = data.drop(["Sample ID"], axis = 1)
df = data.fillna(0)
df

,Mineral1,Mineral2,Mineral3,Mineral4,Mineral5,Mineral6,Mineral7,Mineral8,Mineral9,Mineral10,...,Mineral44,Mineral45,Mineral46,Mineral47,Mineral48,Mineral49,Mineral50,Mineral51,Drinking,WellType
0,5624.163717,43868.510692,107222.239975,224.965026,48707.160287,349267.821706,89439.918740,6123.412185,468667.283898,41111.006242,...,0.405858,0.523955,0.295252,0,0.163175,14.607660,0.080240,1.499863,Yes,sample
1,5067.421222,33208.847707,92332.266645,1130.706654,32340.611576,344475.017337,82470.402041,11350.004336,700553.022331,47796.006577,...,0.102151,0.257880,1.196842,<0.018,0.180884,24.105059,0.081947,0.452609,Yes,drilling
2,3121.314750,39973.257006,99906.071887,585.931109,28609.321453,344273.685298,110771.691819,12103.932722,480960.690391,25426.272879,...,0.204304,0.560804,0.223012,<0.018,0.490825,5.743116,0.080240,0.300981,Yes,sample
3,5395.057192,25799.776590,72707.273368,163.260565,23517.453564,192854.069301,91502.971590,11446.527383,814843.124346,30798.941178,...,0.022087,0.028653,0.078523,<0.018,0.350402,6.798110,0.058046,0.254160,Yes,drilling
4,3390.080940,20293.283692,68493.667603,499.880015,19562.110996,248382.388646,67437.087491,7293.780661,309579.778242,49134.434522,...,0.060739,0.061400,0.175895,<0.018,0.035417,13.966803,0.015365,0.028981,No,sample

In [39]:
for row in range(df.shape[0]):
    for col in list(df.columns)[:-3]:
        if type(df.loc[row, col]) == str:
            df.loc[row, col] = np.nan

        elif df.loc[row, col] < 0:
            df.loc[row, col] = np.nan
df

,Mineral1,Mineral2,Mineral3,Mineral4,Mineral5,Mineral6,Mineral7,Mineral8,Mineral9,Mineral10,...,Mineral44,Mineral45,Mineral46,Mineral47,Mineral48,Mineral49,Mineral50,Mineral51,Drinking,WellType
0,5624.163717,43868.510692,107222.239975,224.965026,48707.160287,349267.821706,89439.918740,6123.412185,468667.283898,41111.006242,...,0.405858,0.523955,0.295252,0,0.163175,14.607660,0.080240,1.499863,Yes,sample
1,5067.421222,33208.847707,92332.266645,1130.706654,32340.611576,344475.017337,82470.402041,11350.004336,700553.022331,47796.006577,...,0.102151,0.257880,1.196842,NaN,0.180884,24.105059,0.081947,0.452609,Yes,drilling
2,3121.314750,39973.257006,99906.071887,585.931109,28609.321453,344273.685298,110771.691819,12103.932722,480960.690391,25426.272879,...,0.204304,0.560804,0.223012,NaN,0.490825,5.743116,0.080240,0.300981,Yes,sample
3,5395.057192,25799.776590,72707.273368,163.260565,23517.453564,192854.069301,91502.971590,11446.527383,814843.124346,30798.941178,...,0.022087,0.028653,0.078523,NaN,0.350402,6.798110,0.058046,0.254160,Yes,drilling
4,3390.080940,20293.283692,68493.667603,499.880015,19562.110996,248382.388646,67437.087491,7293.780661,309579.778242,49134.434522,...,0.060739,0.061400,0.175895,NaN,0.035417,13.966803,0.015365,0.028981,No,sample

In [40]:
df2 = df.fillna(0)
df2

,Mineral1,Mineral2,Mineral3,Mineral4,Mineral5,Mineral6,Mineral7,Mineral8,Mineral9,Mineral10,...,Mineral44,Mineral45,Mineral46,Mineral47,Mineral48,Mineral49,Mineral50,Mineral51,Drinking,WellType
0,5624.163717,43868.510692,107222.239975,224.965026,48707.160287,349267.821706,89439.918740,6123.412185,468667.283898,41111.006242,...,0.405858,0.523955,0.295252,0,0.163175,14.607660,0.080240,1.499863,Yes,sample
1,5067.421222,33208.847707,92332.266645,1130.706654,32340.611576,344475.017337,82470.402041,11350.004336,700553.022331,47796.006577,...,0.102151,0.257880,1.196842,0,0.180884,24.105059,0.081947,0.452609,Yes,drilling
2,3121.314750,39973.257006,99906.071887,585.931109,28609.321453,344273.685298,110771.691819,12103.932722,480960.690391,25426.272879,...,0.204304,0.560804,0.223012,0,0.490825,5.743116,0.080240,0.300981,Yes,sample
3,5395.057192,25799.776590,72707.273368,163.260565,23517.453564,192854.069301,91502.971590,11446.527383,814843.124346,30798.941178,...,0.022087,0.028653,0.078523,0,0.350402,6.798110,0.058046,0.254160,Yes,drilling
4,3390.080940,20293.283692,68493.667603,499.880015,19562.110996,248382.388646,67437.087491,7293.780661,309579.778242,49134.434522,...,0.060739,0.061400,0.175895,0,0.035417,13.966803,0.015365,0.028981,No,sample

In [41]:
minerals_for_del = ["Mineral35","Mineral37", "Mineral39", "Mineral40", "Mineral41", "Mineral44", "Mineral45"]

minerals_for_del2 = ["Mineral4","Mineral12","Mineral13","Mineral14","Mineral18","Mineral19",
                     "Mineral29", "Mineral30", "Mineral34","Mineral36", "Mineral38", "Mineral49"]

dframe = df2.drop(minerals_for_del + minerals_for_del2, axis = 1)
dframe

,Mineral1,Mineral2,Mineral3,Mineral5,Mineral6,Mineral7,Mineral8,Mineral9,Mineral10,Mineral11,...,Mineral33,Mineral42,Mineral43,Mineral46,Mineral47,Mineral48,Mineral50,Mineral51,Drinking,WellType
0,5624.163717,43868.510692,107222.239975,48707.160287,349267.821706,89439.918740,6123.412185,468667.283898,41111.006242,0.672002,...,1.780967,0.449655,0.059067,0.295252,0,0.163175,0.080240,1.499863,Yes,sample
1,5067.421222,33208.847707,92332.266645,32340.611576,344475.017337,82470.402041,11350.004336,700553.022331,47796.006577,0.308456,...,4.837631,0.074582,0.010143,1.196842,0,0.180884,0.081947,0.452609,Yes,drilling
2,3121.314750,39973.257006,99906.071887,28609.321453,344273.685298,110771.691819,12103.932722,480960.690391,25426.272879,0.484723,...,2.332490,0.117202,0.017302,0.223012,0,0.490825,0.080240,0.300981,Yes,sample
3,5395.057192,25799.776590,72707.273368,23517.453564,192854.069301,91502.971590,11446.527383,814843.124346,30798.941178,0.154226,...,2.068196,0.023440,0.005370,0.078523,0,0.350402,0.058046,0.254160,Yes,drilling
4,3390.080940,20293.283692,68493.667603,19562.110996,248382.388646,67437.087491,7293.780661,309579.778242,49134.434522,0.165243,...,2.757631,0.023440,0.007159,0.175895,0,0.035417,0.015365,0.028981,No,sample

In [42]:
X = dframe.drop(["Drinking", "WellType"], axis = 1)
Y = dframe["WellType"]

In [43]:
X

,Mineral1,Mineral2,Mineral3,Mineral5,Mineral6,Mineral7,Mineral8,Mineral9,Mineral10,Mineral11,...,Mineral31,Mineral32,Mineral33,Mineral42,Mineral43,Mineral46,Mineral47,Mineral48,Mineral50,Mineral51
0,5624.163717,43868.510692,107222.239975,48707.160287,349267.821706,89439.918740,6123.412185,468667.283898,41111.006242,0.672002,...,23.505785,2.293155,1.780967,0.449655,0.059067,0.295252,0,0.163175,0.080240,1.499863
1,5067.421222,33208.847707,92332.266645,32340.611576,344475.017337,82470.402041,11350.004336,700553.022331,47796.006577,0.308456,...,24.181438,1.635191,4.837631,0.074582,0.010143,1.196842,0,0.180884,0.081947,0.452609
2,3121.314750,39973.257006,99906.071887,28609.321453,344273.685298,110771.691819,12103.932722,480960.690391,25426.272879,0.484723,...,25.821628,6.740388,2.332490,0.117202,0.017302,0.223012,0,0.490825,0.080240,0.300981
3,5395.057192,25799.776590,72707.273368,23517.453564,192854.069301,91502.971590,11446.527383,814843.124346,30798.941178,0.154226,...,23.949802,0.747308,2.068196,0.023440,0.005370,0.078523,0,0.350402,0.058046,0.254160
4,3390.080940,20293.283692,68493.667603,19562.110996,248382.388646,67437.087491,7293.780661,309579.778242,49134.434522,0.165243,...,25.764396,0.811165,2.757631,0.023440,0.007159,0.175895,0,0.035417,0.015365,0.028981

In [44]:
Y

0      sample
1    drilling
2      sample
3    drilling
4      sample
Name: WellType, dtype: object

In [45]:
from xgboost import XGBClassifier

In [46]:
model = XGBClassifier()
model.load_model("Model_WellType.json")

In [48]:
def predicting(X):
    targets = ["sample", "drilling"]
    y_pred = model.predict(X)

    result = [targets[class_id] for class_id in y_pred]

    return result

In [49]:
predicting(X)

['sample', 'drilling', 'sample', 'drilling', 'drilling']